<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern-->
            <pattern>%d{HH:mm:ss.SSS} %level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>AISandbox.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>AISandbox.log.%i.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="lilith" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>localhost</RemoteHost>
        <Port>4560</Port>
        <ReconnectionDelay>170</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>

    <logger name="dev.aisandbox.client" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="dev.aisandbox.client" level="debug">
        <appender-ref ref="LOG"/>
    </logger>

    <logger name="dev.aisandbox" level="DEBUG">
        <appender-ref ref="lilith"/>
    </logger>

    <root level="NONE"/>

</configuration>